<div>
  <ul class="storeSideMenu">
    <li>
      <div class="searchbar">
        <%= form_tag(store_search_path, method: 'GET', id:"store_search_form") do %>
          <%= label_tag "site_id", "Store Search" %>
          <%= text_field_tag 'searchString' %>
          <%= submit_tag "Find", :name => nil %>
          <div id="notice"><%= notice %></div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
