<div>
  <ul class="outageSideMenu">
    <li>
      <div class="searchbar">
        <%= form_tag(outage_search_path, id:"outage_search_form") do %>
          <%= label_tag "search", "Outage Search" %>
          <%= text_field_tag 'searchString' %>
          <%= label_tag "start_date", "Start" %>
          <input type="date" name="start_date">
          <%= label_tag "end_date", "End" %>
          <input type="date" name="end_date">
          <%= label_tag "region", "Region" %>
          <%= select_tag 'region_selection', options_for_select(["All"]+Region.get_names,1) %>
          <%= submit_tag "Find", :name => nil %>
          <div id="notice"><%= notice %></div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
