<p id="notice"><%= notice %></p>

<h1>Outages</h1>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outages.each do |outage| %>
      <tr>
        <td><%= outage.notes %></td>
        <td><%= link_to 'Show', outage %></td>
        <td><%= link_to 'Edit', edit_outage_path(outage) %></td>
        <td><%= link_to 'Destroy', outage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outage', new_outage_path %>
