<h1><%= "#{@outages.size} records found" %></h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Time</th>
      <th>Region</th>
      <th>Carrier</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @outages.each do |outage| %>
      <tr>
        <td><%= outage.store.site_id %></td>
        <td><%= outage.outage_time %></td>
        <td><%= outage.store.region.name %></td>
        <td><%= outage.carrier.description %></td>
        <td><%= outage.user.first_name %></td>
        <td><%= link_to "Show", outage_path(outage.id) %></td>
        <td><%= link_to "Edit", edit_outage_path(outage.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


