<!DOCTYPE html>
<html>
  <head>
    <title>Fuel Is Life</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="outer">
  <header>
    This is ze Header
  </header>
  
  <div class="middle">
  <body>
    <nav>
      <%= render "shared/topmenu" %>
    </nav>
  
      <%= render "shared/side_menu_#{controller_name}" %>

  <div class="inner">
      <article>
        <%= yield %>
      </article>
    
    </div>
    </body>
    </div>
    <footer>
      This is ze Footer
    </footer>
    </div>
</html>
